#frames {
  text-align: center;
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.dormant_wrapper {
  width: 2912px;
  -webkit-animation: frame 18s ease infinite;
  animation: frame 18s ease infinite;
}
.frame {
  float: left;
  height: 510px;
  width: 728px;
}
@keyframes frame {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}