@import url("https://use.typekit.net/oqt0wvw.css");

body {
  margin: 0;
}
#root {
  width: 100%;
  height: 100vh;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* Template */

.grid_wrapper {
  display: grid;
  grid-template-rows: [promo] 25% [content] 75%;
  grid-template-columns: auto;
  grid-template-areas:
    "promo"
    "content";
  height: 100vh;
}
.promo_wrapper {
  grid-area: promo;
  display: flex;
  position: relative;
}
.promo_media {
  // background-color: blue;
  width: 100%;
  height: auto;
  position: relative;
  // inset: 0%;
}
#heroVid {
  display: none;
  // z-index: 1;
  // top: 0;
  // left: 0;
  // object-fit: cover;
  // background-position: 50%;
  // background-size: cover;
  // width: 100%;
  // height: 100%;
  // margin: auto;
  // position: absolute;
  // inset: -100%;
}
.promo_content {
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-image: url(/images/basementjaxxbne.jpg);
  background-size: cover;
  color: white;
  position: absolute;
  // inset: 0%;
}
.ui_wrapper {
  grid-area: content;
  display: flex;
}
.sidebar {
  display: flex;
  background-color: var(--neutral-DarkGrey);
  min-width: 12vw;
}
.sidebar_wrapper {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
.content {
  width: 100%;
  background-color: var(--neutral-OffWhite);
}
.content_wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.content_pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;
}

/* Sidebar */
.sidebar_stat {
  position: relative;
  display: flex;
}
.sidebar_home {
  position: relative;
}
.sidebar_nav {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
.weather_alert {
  width: 100%;
  overflow: visible;
}
.language_menu {
  width: 100%;
  overflow: visible;
}
// .position_test {
//   position: absolute;
//   right: 0;
//   bottom: 0;
// }

/* Transport */
.map_wrapper {
  height: 100%;
  width: 100%;
}
.mapboxgl-ctrl-group button {
  width: 64px!important;
  height: 64px!important;
}

/* Dormant Promos */
#dormant_frames {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

.dormant_wrapper {
  width: 200vw;
  -webkit-animation: dormant_frame 12s ease 2s infinite;
  animation: dormant_frame 12s ease 2s infinite;
}
.dormant_frame {
  float: left;
  height: 100vh;
  width: 100vw;
}
@keyframes dormant_frame {
  0% {margin-left: 0px;}
  10% {margin-left: -100vw;}
  40% {margin-left: -100vw;}
  50% {margin-left: 0px;}
  100% {margin-left: 0px;}
}

/* Top Third Promos */
#promo_frames {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

.promos_wrapper {
  width: 200vw;
  -webkit-animation: promo_frame 12s ease 2s infinite;
  animation: promo_frame 12s ease 2s infinite;
}
.promo_frame {
  float: left;
  height: 100vh;
  width: 100vw;
}
@keyframes promo_frame {
  0% {margin-left: 0px;}
  10% {margin-left: -100vw;}
  40% {margin-left: -100vw;}
  50% {margin-left: 0px;}
  100% {margin-left: 0px;}
}