@import url("https://use.typekit.net/oqt0wvw.css");

body {
  margin: 0;
}
#root {
  width: 100%;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* Template */

.grid_wrapper {
  display: grid;
  grid-template-rows: [promo] 25% [content] 75%;
  grid-template-columns: auto;
  grid-template-areas:
    "promo"
    "content";
  height: 100vh;
}
.promo_wrapper {
  grid-area: promo;
  display: flex;
  position: relative;
}
.promo_media {
  background-color: blue;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}
.promo_media video {
  // z-index: 1;
  object-fit: cover;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  // position: absolute;
  inset: -100%;
}
.promo_content {
  z-index: 2;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-image: radial-gradient(rgb(#000,50%), rgb(#000,10%));
  color: white;
  position: absolute;
  inset: 0%;
}
.ui_wrapper {
  grid-area: content;
  display: flex;
}
.sidebar {
  display: flex;
  background-color: var(--neutral-DarkGrey);
  min-width: 12vw;
  z-index: 10;
}
.sidebar_wrapper {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
.content {
  width: 100%;
  background-color: var(--neutral-OffWhite);
}
.content_wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.content_pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;
}

/* Sidebar */

.sidebar_stat {
  position: relative;
  display: flex;
}
.sidebar_home {
  position: relative;
}
.sidebar_nav {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
.weather_alert {
  width: 100%;
  position: relative;
  overflow: visible;
}

/* Transport */

.map_wrapper {
  height: 100%;
  width: 100%;
}
.mapboxgl-ctrl-group button {
  width: 64px!important;
  height: 64px!important;
}