@import url("https://use.typekit.net/oqt0wvw.css");

body {
  margin: 0;
}
#root {
  width: 100%;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.grid_wrapper {
  display: grid;
  grid-template-rows: [promo] 25% [content] 75%;
  grid-template-columns: auto;
  grid-template-areas:
    "promo"
    "content";
  height: 100vh;
}
.promo_wrapper {
  grid-area: promo;
  background-color: blue;
}
.ui_wrapper {
  grid-area: content;
  display: flex;
}
.sidebar {
  display: flex;
  background-color: var(--neutral-DarkGrey);
  min-width: 12vw;
}
.sidebar_wrapper {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
.content {
  width: 100%;
  background-color: lightgray;
}
.content_wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
/* Sidebar */
.sidebar_stat {
  position: relative;
  display: flex;
}
.sidebar_home {
  position: relative;
}
.sidebar_nav {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
.weather_alert {
  width: 100%;
  position: relative;
  overflow: visible;
}